<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leetcode.web.mapper.QuestionMapper">

<!--    查询用户带解题状态（answered）许兴军-->
    <select id="selectPageWithAnswered" resultType="com.leetcode.web.entity.dto.QuestionData">
        select sys_question.question_id,title,answer_num,concat(format(pass_num/submit_num,3) * 100,"%") as passRate,difficulty
        from sys_question
        left join sys_list on sys_question.list_id = sys_list.list_id
        left join sys_commit on sys_question.question_id = sys_commit.question_id
        left join sys_tag on sys_question.tag_id = sys_tag.tag_id
        <where>
            sys_commit.user_id = #{userid}
        <if test="list != null and list != ''">
            and sys_list.list_name = #{list}
        </if>
        <if test="difficulty != null and difficulty != ''">
            and sys_question.difficulty = #{difficulty}
        </if>
        <if test="status != null and status != ''">
            and sys_commit.commit_result = "success"
        </if>
        <if test="tag != null and tag != ''">
            and sys_tag.tag_name = #{tag}
        </if>
        <if test="keyword != null and keyword != ''">
            and (sys_question.question_id like "%"#{keyword,jdbcType=VARCHAR}"%" or title like "%"#{keyword,jdbcType=VARCHAR}"%")
        </if>
        </where>

    </select>

<!--    查询用户不带解题状态  许兴军-->
    <select id="selectPageWithoutStatus" resultType="com.leetcode.web.entity.dto.QuestionData">
        select sys_question.question_id,title,answer_num,concat(format(pass_num/submit_num,3) * 100,"%") as passRate,difficulty
        from sys_question
        left join sys_list on sys_question.list_id = sys_list.list_id
        left join sys_tag on sys_question.tag_id = sys_tag.tag_id
        <where>
            <if test="list != null and list != ''">
                and sys_list.list_id = #{list}
            </if>
            <if test="difficulty != null and difficulty != ''">
                and sys_question.difficulty = #{difficulty}
            </if>
            <if test="tag != null and tag != ''">
                and sys_tag.tag_id = #{tag}
            </if>
            <if test="keyword != null and keyword != ''">
                and (sys_question.question_id like "%"#{keyword,jdbcType=VARCHAR}"%" or title like "%"#{keyword,jdbcType=VARCHAR}"%")
            </if>
        </where>

    </select>


    <!--    查询用户带解题状态（undo）许兴军-->
    <select id="selectPageWithUndo" resultType="com.leetcode.web.entity.dto.QuestionData">
        select sys_question.question_id,title,answer_num,concat(format(pass_num/submit_num,3) * 100,"%") as passRate,difficulty
        from sys_question
        left join sys_list on sys_question.list_id = sys_list.list_id
        left join sys_commit on sys_question.question_id = sys_commit.question_id
        left join sys_tag on sys_question.tag_id = sys_tag.tag_id
        <where>
            sys_commit.user_id != #{userid}
            <if test="list != null and list != ''">
                and sys_list.list_name = #{list}
            </if>
            <if test="difficulty != null and difficulty != ''">
                and sys_question.difficulty = #{difficulty}
            </if>
<!--            <if test="status != null and status != ''">-->
<!--                and sys_commit.commit_result not in ("success","error")-->
<!--            </if>-->
            <if test="tag != null and tag != ''">
                and sys_tag.tag_name = #{tag}
            </if>
            <if test="keyword != null and keyword != ''">
                and (sys_question.question_id like "%"#{keyword,jdbcType=VARCHAR}"%" or title like "%"#{keyword,jdbcType=VARCHAR}"%")
            </if>
        </where>


    </select>


    <!--    查询用户带解题状态（tried）许兴军-->
    <select id="selectPageWithTried" resultType="com.leetcode.web.entity.dto.QuestionData">
        select sys_question.question_id,title,answer_num,concat(format(pass_num/submit_num,3) * 100,"%") as passRate,difficulty
        from sys_question
        left join sys_list on sys_question.list_id = sys_list.list_id
        left join sys_commit on sys_question.question_id = sys_commit.question_id
        left join sys_tag on sys_question.tag_id = sys_tag.tag_id
        <where>
            sys_commit.user_id = #{userid}
            <if test="list != null and list != ''">
                and sys_list.list_name = #{list}
            </if>
            <if test="difficulty != null and difficulty != ''">
                and sys_question.difficulty = #{difficulty}
            </if>
            <!--            <if test="status != null and status != ''">-->
            <!--                and sys_commit.commit_result not in ("success","error")-->
            <!--            </if>-->
            <if test="tag != null and tag != ''">
                and sys_tag.tag_name = #{tag}
            </if>
            <if test="keyword != null and keyword != ''">
                and (sys_question.question_id like "%"#{keyword,jdbcType=VARCHAR}"%" or title like "%"#{keyword,jdbcType=VARCHAR}"%")
            </if>
        </where>
        group by sys_question.question_id
    </select>


    <!--查询第 row+1 行记录 -->
    <!--write by liwenhao-->
    <select id="randomSelect" parameterType="Integer" resultType="com.leetcode.web.entity.Question">
        SELECT * FROM sys_question LIMIT 1 OFFSET #{row}
    </select>

    <!--查询指定用户指定题目最新一次提交的代码（无论正确与否）-->
    <!--write by liwenhao-->
    <select id="getLastCommitCode" resultType="java.lang.String">
        SELECT commit_code
        FROM sys_commit
        WHERE user_id = #{userId} AND question_id = #{questionId}
        ORDER BY commit_time DESC
        LIMIT 1;
    </select>
</mapper>
